@{
    ViewData["Title"] = "User Login";
}

<h2 class="text-center mt-3">User Login</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="card p-4 shadow-sm mt-3" style="max-width:450px; margin:auto;">
    <form asp-action="Index" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Email" required />
        </div>

        <div class="form-group mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password" required />
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>

        <div class="text-center mt-2">
            <a asp-controller="Registration" asp-action="Register">Don’t have an account? Register</a>
        </div>
    </form>
</div>
